{% extends 'base.html' %}
{% block content %}
  <h2 class="mb-4" style="color: #dc3545;">Crear Atleta</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
  
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn btn-secondary" href="{% url 'menu' %}">Cancelar</a>
  </form>
{% endblock %}