{% extends 'gestion/base.html' %}

{% block content %}
<div class="card bg-dark border-danger">
    <div class="card-header bg-danger">
        <h2>Confirmar Eliminación</h2>
    </div>
    <div class="card-body">
        <p>¿Estás seguro de eliminar a "{{ object }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}